# Freenove ESP32-S3 CAM, XIAO ESP32-S3 Sense, ESP32-S3-EYE (8MB flash/PSRAM)
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-8m.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
